@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Motor-duon forum</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/Index">Motor-duon Forum</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="btn" asp-page="/index" type="button">
                Till startsida
            </a>
            

            @using CSharpSnackisApp.Models.Toolbox

            @{bool returnTokenValue = HttpContextAccessor.HttpContext.Session.GetString("Role") is not null;}

            @if (!returnTokenValue)
            {
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Meny
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/LoginView"><i class="fa fa-sign-in"></i> Logga in</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/RegisterView"><i class="fa fa-check"></i> Registrera dig</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" target="_blank" href="https://csharpsnackisdb20210614110849.azurewebsites.net/APIThread/GetRandomThread"><i class="fa fa-file"></i> För utvecklare - API</a>
                            </div>
                        </li>
                    </ul>
                </div>
            }
            @if (returnTokenValue)
            {
                @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "root")
                {
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <b><i>@HttpContextAccessor.HttpContext.Session.GetString("UserName")</i></b> - Meny
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <a class="dropdown-item" href="/admindashboard"><i class="fa fa-cogs"></i> Admin dashboard</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/UserView"><i class="fa fa-home"></i> Mina sidor</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-route-UserID="@HttpContextAccessor.HttpContext.Session.GetString("Id")" asp-page="/ChatView"><i class="fa fa-comment"></i> Chattar</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank" href="https://csharpsnackisdb20210614110849.azurewebsites.net/APIThread/GetRandomThread"><i class="fa fa-file"></i> För utvecklare - API</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/LogOutView"><i class="fa fa-road"></i> Logga ut</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <b><i>@HttpContextAccessor.HttpContext.Session.GetString("UserName")</i></b> - Meny
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/UserView"><i class="fa fa-home"></i> Mina sidor</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-route-UserID="@HttpContextAccessor.HttpContext.Session.GetString("Id")" asp-page="/ChatView"><i class="fa fa-comment"></i> Chattar</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank" href="https://csharpsnackisdb20210614110849.azurewebsites.net/APIThread/GetRandomThread"><i class="fa fa-file"></i> För utvecklare - API</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/LogOutView"><i class="fa fa-road"></i> Logga ut</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            }
        </nav>
        <div class="container" id="wrapperDiv">
            <partial name="_CookieConsentPartial" />
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted container">
        <div class="container">
            <div style="text-align: center">
                &copy; 2021 - Motor-duon Forum -
                <a asp-area="" asp-page="/Privacy" target="_blank">GDPR</a>
                <a style="margin-left: 30px; border: none" class="btn" asp-route-UserID="@HttpContextAccessor.HttpContext.Session.GetString("Id")" asp-page="/ChatView">Chattar <i class="fa fa-comment text-primary fa-2x"></i></a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
