@page
@model CSharpSnackisApp.Pages.PostAndReplyViewModel
@{
    bool returnTokenValue = Models.Toolbox.TokenChecker.UserStatus;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-motorcycle text-navy mid-icon"></i>
                        </div>
                        <h2>Motor-duon Forum - Rätt plats för diskussioner om fordon i allmänhet</h2>
                        <span></span>
                    </div>
                </div>
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <small>Total posts: ett gäng (ska vara dynamiskt sen)</small>

                        </div>
                        <h3>Tråd</h3>
                    </div>
                    @{ var DivId1 = Guid.NewGuid().ToString();}

                    @if (Model.UserButtonVisibility)
                    {
                        <div class="forum-title">
                            <div class="forum-title">
                                <button class="btn btn-primary" onclick="showDiv('@DivId1')">Skapa ny post</button>
                            </div>

                            <div id="@DivId1" style="display: none">
                                <form asp-page-handler="Post" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group" style="visibility: hidden">
                                        <input asp-for="ThreadID" class="form-control" value="@Model.ThreadID" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Titel</label>
                                        <input asp-for="Title" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Inläggstext</label>
                                        <textarea autocomplete="off" asp-for="BodyText" class="form-control"></textarea>
                                        <span asp-validation-for="BodyText" class="text-danger"></span>
                                    </div>
                                    <fieldset class="form-group">
                                        <label for="Image">Bild</label>
                                        <input asp-for="UploadFile" class="form-control" type="file" />
                                        <br />
                                    </fieldset>
                                    <button class="btn btn-dark" type="submit">Skapa</button>

                                </form>
                            </div>
                        </div>
                    }
                    @if (Model.ReportMessage is not null)
                    {
                        <p class="text-danger">@Model.ReportMessage</p>
                    }
                    @if (Model.Message is not null)
                    {
                        <p>@Model.Message</p>
                    }
                    else
                    {
                        @foreach (var subject in Model._postResponseModel)
                        {
                            var DivId2 = Guid.NewGuid().ToString();
                            <div class="forum-item active">
                                <div class="card mb-2">
                                    <div class="card-body p-2 p-sm-3">
                                        @if (returnTokenValue || Model.ButtonVisibility)
                                        {
                                            <form asp-page-handler="ReportPost">
                                                <div class="form-group" style="visibility: hidden">
                                                    <input asp-for="PostID" class="form-control" value="@subject.postID" />
                                                    <span asp-validation-for="PostID" class="text-danger"></span>
                                                </div>
                                                <button class="btn" style="border: none" type="submit">Rapportera<i class="fa fa-bullhorn text-danger"></i></button>
                                            </form>
                                        }
                                    <div class="media forum-item">
                                        <a href="#" data-toggle="collapse" data-target=".forum-content">
                                            @if (string.IsNullOrEmpty(subject.user.Image))
                                            {
                                                <img src="~/img/NoPicture.jpg" class="mr-3 rounded-circle" width="50" alt="User" />
                                            }
                                            else
                                            {
                                                <img src="img/@subject.user.Image" class="mr-3 rounded-circle" width="50" alt="User" />
                                            }
                                        </a>
                                        <div class="media-body">
                                            <h6><b>@subject.title</b></h6>
                                            <p class="text-secondary">
                                                @subject.bodyText
                                            </p>
                                            <p class="text-muted"><span class="text-primary">@subject.user.UserName</span> postade <span class="text-secondary font-weight-bold">@subject.createDate</span></p>
                                            
                                            @if (!string.IsNullOrEmpty(subject.image))
                                            {
                                                <img src="img/@subject.image" class="mr-3" width="400" alt="User" />
                                            }

                                            @if (subject.ButtonVisibility || Model.ButtonVisibility)
                                            {
                                                @if (subject.isReported && Model.ButtonVisibility)
                                                {
                                                    <i class="fa fa-eye text-danger">Rapporterad</i>
                                                }
                                                <form asp-page-handler="DeletePost">
                                                    <div class="form-group" style="visibility: hidden">
                                                        <input asp-for="PostID" class="form-control" value="@subject.postID" />
                                                        <span asp-validation-for="Title" class="text-danger"></span>
                                                    </div>
                                                    <button class="btn btn-danger" type="submit">Radera</button>
                                                </form>
                                                <div class="forum-title">
                                                    <button class="btn btn-primary" onclick="showDiv('@DivId2')">Ändra</button>
                                                </div>
                                                <div id="@DivId2" style="display: none">
                                                    <form asp-page-handler="EditPost">
                                                        <div class="form-group" style="visibility: hidden">
                                                            <input asp-for="PostID" class="form-control" value="@subject.postID" />
                                                            <span asp-validation-for="Title" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Titel</label>
                                                            <input asp-for="Title" class="form-control" autocomplete="off" value="@subject.title" />
                                                            <span asp-validation-for="Title" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Inläggstext</label>
                                                            <textarea asp-for="BodyText" class="form-control"></textarea>
                                                            <span asp-validation-for="BodyText" class="text-danger"></span>
                                                        </div>
                                                        <button class="btn btn-danger" type="submit">Ändra</button>
                                                    </form>
                                                </div>
                                            }
                                        </div>
                                        @if (!string.IsNullOrEmpty(Models.Toolbox.TokenChecker.LoggedInUserID))
                                        {

                                            if (!subject.postReactions.Users.Any(x => x.Id.Contains(Models.Toolbox.TokenChecker.LoggedInUserID)) && (returnTokenValue || Model.ButtonVisibility))
                                            {
                                                <form asp-page-handler="AddReaction">
                                                    <div class="form-group" style="visibility: hidden">
                                                        <input asp-for="TextID" class="form-control" value="@subject.postID" />
                                                        <span asp-validation-for="TextID" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group" style="visibility: hidden">
                                                        <input asp-for="AddOrRemoveReaction" class="form-control" value="true" />
                                                        <span asp-validation-for="AddOrRemoveReaction" class="text-danger"></span>
                                                    </div>
                                                    <div class="text-muted small text-center align-self-center">
                                                        <span class="d-none d-sm-inline-block">
                                                            <button class="btn" style="border: none" type="submit"><i class="fa fa-thumbs-up text-black-50">@subject.postReactions.LikeCounter</i>Gilla</button>
                                                        </span>
                                                    </div>
                                                </form>
                                            }

                                            @if (subject.postReactions.Users.Any(x => x.Id.Contains(Models.Toolbox.TokenChecker.LoggedInUserID)) && (returnTokenValue || Model.ButtonVisibility))
                                             {
                                                    <form asp-page-handler="RemoveReaction">
                                                        <div class="form-group" style="visibility: hidden">
                                                            <input asp-for="TextID" class="form-control" value="@subject.postID" />
                                                            <span asp-validation-for="TextID" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group" style="visibility: hidden">
                                                            <input asp-for="AddOrRemoveReaction" class="form-control" value="false" />
                                                            <span asp-validation-for="AddOrRemoveReaction" class="text-danger"></span>
                                                        </div>
                                                        <div class="text-muted small text-center align-self-center">
                                                            <span class="d-none d-sm-inline-block">
                                                                <button class="btn" style="border: none" type="submit"><i class="fa fa-thumbs-up text-primary">@subject.postReactions.LikeCounter</i>Ta bort gilla</button>
                                                            </span>
                                                        </div>
                                                    </form>
                                             }
                                        }
                                    </div>
                                    </div>

                                    @if (subject.replies.Count > 0 || subject.replies is not null)
                                    {
                                        foreach (var reply in subject.replies)
                                        {
                                            <div style="padding-left: 150px">
                                                <div class="card mb-2, text-white">
                                                    <div class="card-body p-2 p-sm-3">
                                                        @if (returnTokenValue || Model.ButtonVisibility)
                                                        {
                                                            <form asp-page-handler="ReportReply">
                                                                <div class="form-group" style="visibility: hidden">
                                                                    <input asp-for="ReplyID" class="form-control" value="@reply.replyID" />
                                                                    <span asp-validation-for="ReplyID" class="text-danger"></span>
                                                                </div>
                                                                <button class="btn" style="border: none" type="submit">Rapportera<i class="fa fa-bullhorn text-danger"></i></button>
                                                            </form>
                                                        }
                                                    <div class="media forum-item">
                                                        <a href="#" data-toggle="collapse" data-target=".forum-content">
                                                            @if (string.IsNullOrEmpty(reply.user.Image))
                                                            {
                                                                <img src="~/img/NoPicture.jpg" class="mr-3 rounded-circle" width="50" alt="User" />
                                                            }
                                                            else
                                                            {
                                                                <img src="img/@reply.user.Image" class="mr-3 rounded-circle" width="50" alt="User" />
                                                            }
                                                        </a>
                                                        <div class="media-body">
                                                            <p class="text-secondary">
                                                                @reply.bodyText
                                                            </p>
                                                            <p class="text-muted"><span class="text-primary">@reply.user.UserName</span> svarade <span class="text-secondary font-weight-bold">@reply.createDate</span></p>
                                                            @if (reply.ButtonVisibility || Model.ButtonVisibility)
                                                            {
                                                                @if (reply.isReported && Model.ButtonVisibility)
                                                                {
                                                                    <i class="fa fa-eye text-danger">Rapporterad</i>
                                                                }
                                                                var DivId3 = Guid.NewGuid().ToString();
                                                                <form asp-page-handler="DeleteReply">
                                                                    <div class="form-group" style="visibility: hidden">
                                                                        <input asp-for="ReplyID" class="form-control" value="@reply.replyID" />
                                                                        <span asp-validation-for="ReplyID" class="text-danger"></span>
                                                                    </div>
                                                                    <button class="btn btn-danger" type="submit">Radera</button>
                                                                </form>
                                                                <div class="forum-title">
                                                                    <button class="btn btn-primary" onclick="showDiv('@DivId3')">Ändra</button>
                                                                </div>
                                                                <div id="@DivId3" style="display: none">

                                                                    <form asp-page-handler="EditReply">
                                                                        <div class="form-group" style="visibility: hidden">
                                                                            <input asp-for="ReplyID" class="form-control" value="@reply.replyID" />
                                                                            <span asp-validation-for="ReplyID" class="text-danger"></span>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label">Inläggstext</label>
                                                                            <textarea autocomplete="off" asp-for="BodyText" class="form-control"></textarea>
                                                                            <span asp-validation-for="BodyText" class="text-danger"></span>
                                                                        </div>
                                                                        <button class="btn btn-danger" type="submit">Ändra</button>
                                                                    </form>
                                                                </div>
                                                            }
                                                        </div>

                                              

                                                        @if (!string.IsNullOrEmpty(Models.Toolbox.TokenChecker.LoggedInUserID))
                                                        {

                                                            if (!reply.postReactions.Users.Any(x => x.Id.Contains(Models.Toolbox.TokenChecker.LoggedInUserID)) && (returnTokenValue || Model.ButtonVisibility))
                                                            {
                                                                <form asp-page-handler="AddReplyReaction">
                                                                    <div class="form-group" style="visibility: hidden">
                                                                        <input asp-for="TextID" class="form-control" value="@reply.replyID" />
                                                                        <span asp-validation-for="TextID" class="text-danger"></span>
                                                                    </div>
                                                                    <div class="form-group" style="visibility: hidden">
                                                                        <input asp-for="AddOrRemoveReaction" class="form-control" value="true" />
                                                                        <span asp-validation-for="AddOrRemoveReaction" class="text-danger"></span>
                                                                    </div>
                                                                    <div class="text-muted small text-center align-self-center">
                                                                        <span class="d-none d-sm-inline-block">
                                                                            <button class="btn" style="border: none" type="submit"><i class="fa fa-thumbs-up text-black-50">@reply.postReactions.LikeCounter</i>Gilla</button>
                                                                        </span>
                                                                    </div>
                                                                </form>
                                                            }

                                                            @if (reply.postReactions.Users.Any(x => x.Id.Contains(Models.Toolbox.TokenChecker.LoggedInUserID)) && (returnTokenValue || Model.ButtonVisibility))
                                                            {
                                                                <form asp-page-handler="RemoveReplyReaction">
                                                                    <div class="form-group" style="visibility: hidden">
                                                                        <input asp-for="TextID" class="form-control" value="@reply.replyID" />
                                                                        <span asp-validation-for="TextID" class="text-danger"></span>
                                                                    </div>
                                                                    <div class="form-group" style="visibility: hidden">
                                                                        <input asp-for="AddOrRemoveReaction" class="form-control" value="false" />
                                                                        <span asp-validation-for="AddOrRemoveReaction" class="text-danger"></span>
                                                                    </div>
                                                                    <div class="text-muted small text-center align-self-center">
                                                                        <span class="d-none d-sm-inline-block">
                                                                            <button class="btn" style="border: none" type="submit"><i class="fa fa-thumbs-up text-primary">@reply.postReactions.LikeCounter</i>Ta bort gilla</button>
                                                                        </span>
                                                                    </div>
                                                                </form>
                                                            }
                                                        }

                                                      

                                                        

                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                    @if (returnTokenValue || Model.ButtonVisibility)
                                    {
                                        var DivId4 = Guid.NewGuid().ToString();
                                        <div class="forum-title">
                                            <button class="btn btn-primary" onclick="showDiv('@DivId4')">Svara</button>
                                        </div>
                                        <div class="forum-title" id="@DivId4" style="display: none">
                                            <form asp-page-handler="Reply">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                                <div class="form-group" style="visibility: hidden">
                                                    <input asp-for="PostID" class="form-control" value="@subject.postID" />
                                                    <span asp-validation-for="PostID" class="text-danger"></span>
                                                </div>


                                                <div class="form-group">
                                                    <label class="control-label">Skriv ett svar.</label>
                                                    <textarea autocomplete="off" asp-for="BodyText" class="form-control"></textarea>
                                                    <span asp-validation-for="BodyText" class="text-danger"></span>
                                                </div>
                                                <button class="btn btn-dark" type="submit">Svara</button>
                                            </form>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>