@page
@model CSharpSnackisApp.Pages.PostAndReplyViewModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>C#-Snackis - Rätt plats för diskussioner om alpha hobbys</h2>
                        <span>Välj en tråd</span>
                    </div>
                </div>
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <small>Total posts: ett gäng (ska vara dynamiskt sen)</small>

                        </div>
                        <h3>Tråd</h3>
                    </div>

                    <div class="forum-title">
                        <div class="forum-title">
                            <input type="checkbox" id="switch1" class="custom-control-input" name="c1" onclick="showMe('div1')">
                            <label style="padding-left: 30px" class="custom-control-label" for="switch1">Skapa en ny post i tråden.</label>
                        </div>

                        <div id="div1">
                            <form asp-page-handler="Post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group" style="visibility: hidden">
                                    <input asp-for="ThreadID" class="form-control" value="@Model.ThreadID" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Titel</label>
                                    <input asp-for="Title" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Inläggstext</label>
                                    <textarea autocomplete="off" asp-for="BodyText" class="form-control"></textarea>
                                    <span asp-validation-for="BodyText" class="text-danger"></span>
                                </div>
                                <button class="btn btn-dark" type="submit">Skapa ny post</button>
                            </form>
                        </div>
                    </div>

                    @if (Model.Message is not null)
                    {
                        <p>@Model.Message</p>
                    }
                    else
                    {
                        @foreach (var subject in Model._postResponseModel)
                        {
                         <div class="forum-item active">
                             <div class="card mb-2">
                                 <div class="card-body p-2 p-sm-3">
                                     <div class="media forum-item">
                                         <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="img/@subject.user.Image" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                         <div class="media-body">
                                             <h6><b>@subject.title</b></h6>
                                             <p class="text-secondary">
                                                 @subject.bodyText
                                             </p>
                                             <p class="text-muted"><span class="text-primary">@subject.user.UserName</span> postade <span class="text-secondary font-weight-bold">@subject.createDate</span></p>
                                             <form asp-page-handler="DeletePost">
                                                 <div class="form-group" style="visibility: hidden">
                                                     <input asp-for="PostID" class="form-control" value="@subject.postID" />
                                                     <span asp-validation-for="Title" class="text-danger"></span>
                                                 </div>
                                                 <button class="btn btn-danger" type="submit">Radera</button>
                                             </form>
                                         </div>
                                         @*<div class="text-muted small text-center align-self-center">
                                 <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> 49</span>
                                 <span><i class="far fa-comment ml-2"></i> 9</span>
                             </div>*@     <!---här fixar vi like och dislike senare ---->
                                     </div>
                                 </div>

                                   @if (subject.replies.Count > 0 || subject.replies is not null)
                                   {
                                       foreach (var reply in subject.replies)
                                          {
                                             <div style="padding-left: 150px">
                                                 <div class="card mb-2, text-white">
                                                     <div class="card-body p-2 p-sm-3">
                                                         <div class="media forum-item">
                                                             <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="img/@reply.user.Image" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                                             <div class="media-body">
                                                                 <p class="text-secondary">
                                                                     @reply.bodyText
                                                                 </p>
                                                                 <p class="text-muted"><span class="text-primary">@reply.user.UserName</span> svarade <span class="text-secondary font-weight-bold">@reply.createDate</span></p>
                                                             </div>
                                                             @*<div class="text-muted small text-center align-self-center">
                                                                   <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> 49</span>
                                                                   <span><i class="far fa-comment ml-2"></i> 9</span>
                                                               </div>*@     <!---här fixar vi like och dislike senare ---->
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                          }
                                  
                                   }
                                  

                                  <div class="forum-title">
                                      <form asp-page-handler="Reply">
                                          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                 
                                          <div class="form-group" style="visibility: hidden">
                                              <input asp-for="PostID" class="form-control" value="@subject.postID" />
                                              <span asp-validation-for="PostID" class="text-danger"></span>
                                          </div>
                                 
                                 
                                          <div class="form-group">
                                              <label class="control-label">Skriv ett svar.</label>
                                              <textarea autocomplete="off" asp-for="BodyText" class="form-control"></textarea>
                                              <span asp-validation-for="BodyText" class="text-danger"></span>
                                          </div>
                                          <button class="btn btn-dark" type="submit">Svara</button>
                                      </form>
                                 
                                  </div>
                              </div>
                          </div>


                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>