@page
@model CSharpSnackisApp.Pages.PostAndReplyViewModel
@{

}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Motor-duon Forum - Rätt plats för diskussioner om fordon i allmänhet</h2>
                        <span></span>
                    </div>
                </div>
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <small>Total posts: ett gäng (ska vara dynamiskt sen)</small>

                        </div>
                        <h3>Tråd</h3>
                    </div>
                    @{ var DivId1 = Guid.NewGuid().ToString();}
                    
                    @if (Model.UserButtonVisibility)
                    {
                        <div class="forum-title">
                            <div class="forum-title">
                                <button class="btn btn-primary" onclick="showDiv('@DivId1')">Skapa ny post</button>
                            </div>

                            <div id="@DivId1" style="display: none">
                                <form asp-page-handler="Post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group" style="visibility: hidden">
                                        <input asp-for="ThreadID" class="form-control" value="@Model.ThreadID" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Titel</label>
                                        <input asp-for="Title" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Inläggstext</label>
                                        <textarea autocomplete="off" asp-for="BodyText" class="form-control"></textarea>
                                        <span asp-validation-for="BodyText" class="text-danger"></span>
                                    </div>
                                    <button class="btn btn-dark" type="submit">Skapa</button>
                                </form>
                            </div>
                        </div>
                    }
                    @if (Model.Message is not null)
                    {
                        <p>@Model.Message</p>
                    }
                    else
                    {
                        @foreach (var subject in Model._postResponseModel)
                        {
                            var DivId2 = Guid.NewGuid().ToString();
                            <div class="forum-item active">
                                <div class="card mb-2">
                                    <div class="card-body p-2 p-sm-3">
                                        <div class="media forum-item">
                                            <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="img/@subject.user.Image" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                            <div class="media-body">
                                                <h6><b>@subject.title</b></h6>
                                                <p class="text-secondary">
                                                    @subject.bodyText
                                                </p>
                                                <p class="text-muted"><span class="text-primary">@subject.user.UserName</span> postade <span class="text-secondary font-weight-bold">@subject.createDate</span></p>
                                                @if (subject.ButtonVisibility || Model.ButtonVisibility)
                                                {

                                                    <form asp-page-handler="DeletePost">
                                                        <div class="form-group" style="visibility: hidden">
                                                            <input asp-for="PostID" class="form-control" value="@subject.postID" />
                                                            <span asp-validation-for="Title" class="text-danger"></span>
                                                        </div>
                                                        <button class="btn btn-danger" type="submit">Radera</button>
                                                    </form>

                                                    <div class="forum-title">
                                                        <button class="btn btn-primary" onclick="showDiv('@DivId2')">Ändra</button>
                                                    </div>
                                                    <div id="@DivId2" style="display: none">
                                                        <form asp-page-handler="EditPost">
                                                            <div class="form-group" style="visibility: hidden">
                                                                <input asp-for="PostID" class="form-control" value="@subject.postID" />
                                                                <span asp-validation-for="Title" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Titel</label>
                                                                <input asp-for="Title" class="form-control" autocomplete="off" value="@subject.title" />
                                                                <span asp-validation-for="Title" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Inläggstext</label>
                                                                <textarea asp-for="BodyText" class="form-control"></textarea>
                                                                <span asp-validation-for="BodyText" class="text-danger"></span>
                                                            </div>
                                                            <button class="btn btn-danger" type="submit">Ändra</button>
                                                        </form>
                                                    </div>
                                                }
                                            </div>
                                            @*<div class="text-muted small text-center align-self-center">
                    <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> 49</span>
                    <span><i class="far fa-comment ml-2"></i> 9</span>
                </div>*@     <!---här fixar vi like och dislike senare ---->
                                        </div>
                                    </div>

                                    @if (subject.replies.Count > 0 || subject.replies is not null)
                                    {
                                        foreach (var reply in subject.replies)
                                        {
                                            <div style="padding-left: 150px">
                                                <div class="card mb-2, text-white">
                                                    <div class="card-body p-2 p-sm-3">
                                                        <div class="media forum-item">
                                                            <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="img/@reply.user.Image" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                                            <div class="media-body">
                                                                <p class="text-secondary">
                                                                    @reply.bodyText
                                                                </p>
                                                                <p class="text-muted"><span class="text-primary">@reply.user.UserName</span> svarade <span class="text-secondary font-weight-bold">@reply.createDate</span></p>
                                                                @if (reply.ButtonVisibility || Model.ButtonVisibility)
                                                                {
                                                                    var DivId3 = Guid.NewGuid().ToString();
                                                                    <form asp-page-handler="DeleteReply">
                                                                        <div class="form-group" style="visibility: hidden">
                                                                            <input asp-for="ReplyID" class="form-control" value="@reply.replyID" />
                                                                            <span asp-validation-for="ReplyID" class="text-danger"></span>
                                                                        </div>
                                                                        <button class="btn btn-danger" type="submit">Radera</button>
                                                                    </form>

                                                                    <div class="forum-title">
                                                                        <button class="btn btn-primary" onclick="showDiv('@DivId3')">Ändra</button>
                                                                    </div>
                                                                    <div id="@DivId3" style="display: none">

                                                                        <form asp-page-handler="EditReply">
                                                                            <div class="form-group" style="visibility: hidden">
                                                                                <input asp-for="ReplyID" class="form-control" value="@reply.replyID" />
                                                                                <span asp-validation-for="ReplyID" class="text-danger"></span>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label">Inläggstext</label>
                                                                                <textarea autocomplete="off" asp-for="BodyText" class="form-control"></textarea>
                                                                                <span asp-validation-for="BodyText" class="text-danger"></span>
                                                                            </div>
                                                                            <button class="btn btn-danger" type="submit">Ändra</button>
                                                                        </form>
                                                                    </div>
                                                                }
                                                            </div>
                                                            @*<div class="text-muted small text-center align-self-center">
                                    <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> 49</span>
                                    <span><i class="far fa-comment ml-2"></i> 9</span>
                                </div>*@     <!---här fixar vi like och dislike senare ---->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    @if (subject.ButtonVisibility || Model.ButtonVisibility)
                                    {
                                        var DivId4 = Guid.NewGuid().ToString();
                                        <div class="forum-title">
                                            <button class="btn btn-primary" onclick="showDiv('@DivId4')">Svara</button>
                                        </div>
                                        <div class="forum-title" id="@DivId4" style="display: none">
                                            <form asp-page-handler="Reply">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                                <div class="form-group" style="visibility: hidden">
                                                    <input asp-for="PostID" class="form-control" value="@subject.postID" />
                                                    <span asp-validation-for="PostID" class="text-danger"></span>
                                                </div>


                                                <div class="form-group">
                                                    <label class="control-label">Skriv ett svar.</label>
                                                    <textarea autocomplete="off" asp-for="BodyText" class="form-control"></textarea>
                                                    <span asp-validation-for="BodyText" class="text-danger"></span>
                                                </div>
                                                <button class="btn btn-dark" type="submit">Svara</button>
                                            </form>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>