@page
@model CSharpSnackisApp.Pages.ThreadViewModel
@{

}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Motor-duon Forum - Rätt plats för diskussioner om fordon i allmänhet</h2>
                        <span>Välj en tråd</span>
                    </div>
                </div>
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <small>Total posts: ett gäng (ska vara dynamiskt sen)</small>

                        </div>
                        <h3>Trådar</h3>
                    </div>
                    <div class="forum-title">
                        <div class="forum-title">
                            <button class="btn btn-primary" onclick="showDiv1()">Ny tråd</button>
                        </div>

                        <div id="div1" style="display: none">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group" style="visibility: hidden">
                                    <input asp-for="TopicID" class="form-control" value="@Model.TopicID" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Titel</label>
                                    <input asp-for="Title" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Inläggstext</label>
                                    <textarea asp-for="BodyText" class="form-control" autocomplete="off"></textarea>
                                    <span asp-validation-for="BodyText" class="text-danger"></span>
                                </div>
                                <button class="btn btn-dark" type="submit">Skapa ny tråd</button>
                            </form>
                        </div>
                    </div>
                    @if (Model.Message is not null)
                    {
                        <p>@Model.Message</p>
                    }
                    else
                    {
                        @foreach (var subject in Model._threadResponseModels)
                        {
                            <div class="forum-item active">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-shield"></i>
                                        </div>
                                        <a asp-page="/PostAndReplyView" asp-route-ThreadID="@subject.threadID" class="forum-item-title">@subject.title</a>
                                    </div>
                                </div>
                            </div>
                            @if (subject.ButtonVisibility || Model.ButtonVisibility)
                            {
                                <form asp-page-handler="DeleteThread">
                                    <div class="form-group" style="visibility: hidden">
                                        <input asp-for="ThreadID" class="form-control" value="@subject.threadID" />
                                        <span asp-validation-for="ThreadID" class="text-danger"></span>
                                    </div>
                                    <button class="btn btn-danger" type="submit">Radera</button>
                                </form>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>