@page
@model CSharpSnackisApp.Pages.ThreadViewModel
@{

}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-motorcycle text-navy mid-icon"></i>
                        </div>
                        <h2>Motor-duon Forum - Rätt plats för diskussioner om fordon i allmänhet</h2>
                    </div>
                </div>
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <small>Antal poster i tråden: @Model._threadResponseModels.Select(x => x.posts).Count()</small>
                        </div>
                        <h3>Trådar</h3>
                    </div>
                    @if (Model.UserButtonVisibility)
                    {
                        var divId1 = Guid.NewGuid().ToString();
                        <div class="forum-title">
                            <div class="forum-title">
                                <button class="btn" style="border:none" onclick="showDiv('@divId1')">Ny tråd <i class="fa fa-envelope fa-2x text-success"></i></button>
                            </div>
                            <div id="@divId1" style="display: none">
                                <form method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group" style="visibility: hidden">
                                        <input asp-for="TopicID" class="form-control" value="@Model.TopicID" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Titel</label>
                                        <input asp-for="Title" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Inläggstext</label>
                                        <textarea asp-for="BodyText" class="form-control" autocomplete="off"></textarea>
                                        <span asp-validation-for="BodyText" class="text-danger"></span>
                                    </div>
                                    <fieldset class="form-group">
                                        <label for="Image">Bild</label>
                                        <input asp-for="UploadFile" style="border: none" class="form-control" type="file" />
                                        <br />
                                    </fieldset>
                                    <button class="btn btn-dark" type="submit">Skapa ny tråd</button>
                                </form>
                            </div>
                        </div>
                    }
                    @if (Model.Message is not null)
                    {
                        <p>@Model.Message</p>
                    }
                    else
                    {
                        @foreach (var subject in Model._threadResponseModels)
                        {
                            <div class="forum-item active">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-chevron-circle-right"></i>
                                        </div>
                                        <div class="media-body">

                                            <a asp-page="/PostAndReplyView" asp-route-ThreadID="@subject.threadID" class="forum-item-title">@subject.title </a>skrivet av <b>@subject.user.UserName </b>@subject.createDate.ToString("dd/MM/yyyy HH:mm")
                                        </div>
                                        </div>
                                    </div>
                            </div>
                            @if (subject.ButtonVisibility || Model.ButtonVisibility)
                            {
                                <form asp-page-handler="DeleteThread">
                                    <div class="form-group" style="visibility: hidden">
                                        <input asp-for="ThreadID" class="form-control" value="@subject.threadID" />
                                        <span asp-validation-for="ThreadID" class="text-danger"></span>
                                    </div>
                                    <button class="btn btn-outline-danger" type="submit">Radera <i class="fa fa-trash text-danger fa-2x"></i></button>
                                </form>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>