@page
@model CSharpSnackisApp.Pages.TopicViewModel
@{
    ViewData["Title"] = "Ämnen";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Motor-duon Forum - Rätt plats för diskussioner om fordon i allmänhet</h2>
                        <span>Välj ett ämne</span>
                    </div>
                </div>
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <small>Total posts: ett gäng (ska vara dynamiskt sen)</small>

                        </div>
                        <h3>Ämnen</h3>
                    </div>
                    @if (Model.Message is not null)
                    {
                        <p>@Model.Message</p>
                    }
                    else
                    {
                        @foreach (var subject in Model._topicResponseModels)
                        {
                            <div class="forum-item active">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-shield"></i>
                                        </div>
                                        <a asp-page="/ThreadView" asp-route-topicID="@subject.topicID" class="forum-item-title">@subject.title</a>
                                        <div class="forum-sub-title">@subject.createDate</div>
                                        @if(Model.ButtonVisibility)
                                        {
                                         <form asp-page-handler="DeleteTopic">
                                             <div class="form-group" style="visibility: hidden">
                                                 <input asp-for="TopicID" class="form-control" value="@subject.topicID" />
                                                 <span asp-validation-for="TopicID" class="text-danger"></span>
                                             </div>
                                             <button class="btn btn-danger" type="submit">Radera</button>
                                         </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
