@page
@model CSharpSnackisApp.Pages.UserViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{

    var EditProfileText = Guid.NewGuid().ToString();
    var EditUsername = Guid.NewGuid().ToString();
    var EditEmail = Guid.NewGuid().ToString();
    var EditCountry = Guid.NewGuid().ToString();
    var EditImage = Guid.NewGuid().ToString();
    bool returnTokenValue = HttpContextAccessor.HttpContext.Session.GetString("Role") is not null;
}


<div class="container">

    <div class="main-body">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="Index">Till startsidan</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profil</li>
            </ol>
        </nav>
        @if (Model.Message is not null)
        {
            <p class="text-danger">@Model.Message</p>
        }
        else
        {
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">

                                @if (string.IsNullOrEmpty(Model._userPageResponseModel.Image))
                                {
                                    <img src="~/img/NoPicture.jpg" class="mr-3 rounded-circle" width="50" alt="User" />
                                }
                                else
                                {
                                    <img src="~/img/@Model._userPageResponseModel.Image" alt="Admin" class="rounded-circle" width="150">
                                }
                                <div class="mt-3">
                                    <h4>@Model._userPageResponseModel.Username</h4>
                                </div>
                                @if (Model._userPageResponseModel.Id == HttpContextAccessor.HttpContext.Session.GetString("Id") || HttpContextAccessor.HttpContext.Session.GetString("Role") == "root" || HttpContextAccessor.HttpContext.Session.GetString("Role") == "admin")
                                {
                                    <button class="btn btn-primary" onclick="showDiv('@EditImage');">Bildinställningar</button>

                                    <div id="@EditImage" style="display: none">
                                    @if(Model._userPageResponseModel.Id == HttpContextAccessor.HttpContext.Session.GetString("Id"))
                                    {
                                        <form asp-page-handler="EditImage" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label class="control-label">Ändra bild</label>
                                                <input asp-for="UploadFile" class="form-control" style="border: none" type="file" />
                                                <span asp-validation-for="UploadFile" class="text-danger"></span>
                                            </div>
                                            <div class="form-group" style="visibility: hidden">
                                                <input asp-for="_user.Image" class="form-control" value="@Model._userPageResponseModel.Image" />
                                                <span asp-validation-for="_user.Image" class="text-danger"></span>
                                            </div>
                                            <button class="btn btn-warning" type="submit">Ändra bild</button>
                                        </form>
                                    }
                                        <form asp-page-handler="DeleteImage">
                                            <div class="form-group" style="visibility: hidden">
                                                <input asp-for="_user.Image" class="form-control" value="@Model._userPageResponseModel.Image" />
                                                <span asp-validation-for="_user.Image" class="text-danger"></span>
                                            </div>
                                            <button class="btn btn-danger" type="submit">Radera bild</button>
                                        </form>
                                    </div>
                                }
                                @if (returnTokenValue || Model.ButtonVisibility)
                                {
                                    <form asp-page-handler="ReportUser">
                                        <div class="form-group" style="visibility: hidden">
                                            <input asp-for="_user.Id" class="form-control" value="@Model.SearchedUserID" />
                                            <span asp-validation-for="_user.Id" class="text-danger"></span>
                                        </div>
                                        <button class="btn" style="border: none" type="submit">Rapportera användare<i class="fa fa-bullhorn text-danger"></i></button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            @if (Model._userPageResponseModel.Id == HttpContextAccessor.HttpContext.Session.GetString("Id") || HttpContextAccessor.HttpContext.Session.GetString("Role") == "root" || HttpContextAccessor.HttpContext.Session.GetString("Role") == "admin")
                            {
                                <button class="btn btn-info" onclick="showDiv('@EditUsername'); showDiv('@EditEmail'); showDiv('@EditCountry')">Ändra uppgifter</button>
                            }
                            <form asp-page-handler="EditUsername">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="forum-title">
                                        </div>
                                        <h6 class="mb-0">Användarnamn</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model._userPageResponseModel.Username
                                    </div>
                                    <div id="@EditUsername" style="display: none">

                                        <div class="form-group">
                                            <input asp-for="_user.UserName" class="form-control" autocomplete="off" value="@Model._userPageResponseModel.Username" />
                                            <span asp-validation-for="_user.UserName" class="text-danger"></span>
                                        </div>

                                        <button class="btn btn-warning" type="submit">Ändra</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model._userPageResponseModel.Email
                                    </div>
                                    <div id="@EditEmail" style="display: none">
                                        <div class="form-group">
                                            <input asp-for="_user.Email" class="form-control" autocomplete="off" value="@Model._userPageResponseModel.Email" />
                                            <span asp-validation-for="_user.Email" class="text-danger"></span>
                                        </div>

                                        <button class="btn btn-warning" type="submit">Ändra</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Land</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Model._userPageResponseModel.Country
                                    </div>
                                    <div id="@EditCountry" style="display: none">

                                        <div class="form-group">
                                            <input asp-for="_user.Country" class="form-control" autocomplete="off" value="@Model._userPageResponseModel.Country" />
                                            <span asp-validation-for="_user.Country" class="text-danger"></span>
                                        </div>
                                        <button class="btn btn-warning" type="submit">Ändra</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Profil text</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model._userPageResponseModel.ProfileText
                                </div>
                                <div class="forum-title">
                                    @if (Model._userPageResponseModel.Id == HttpContextAccessor.HttpContext.Session.GetString("Id") || HttpContextAccessor.HttpContext.Session.GetString("Role") == "root" || HttpContextAccessor.HttpContext.Session.GetString("Role") == "admin")
                                    {
                                        <button class="btn btn-info" onclick="showDiv('@EditProfileText')">Ändra</button>
                                    }
                                </div>
                            </div>
                            <div id="@EditProfileText" style="display: none">
                                <form asp-page-handler="EditProfileText">
                                    <div class="form-group">
                                        <label class="control-label">Titel</label>
                                        <input asp-for="_user.ProfileText" class="form-control" autocomplete="off" value="@Model._userPageResponseModel.ProfileText" />
                                        <span asp-validation-for="_user.ProfileText" class="text-danger"></span>
                                    </div>
                                    <button class="btn btn-warning" type="submit">Ändra</button>
                                </form>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    <a class="btn btn-outline-success" asp-page="Index">Tillbaka till startsidan</a>
    <a class="btn btn-outline-warning" href="/Privacy" target="_blank">Integritetspolicy</a>
</div>
<hr />